@media only screen and (max-width : 600px){
    .hero-title{
        text-align: center;
        padding-top: 0px;
    }
    .contact{
        margin: 0 auto;
        justify-content: center;
        align-items: center;
    }
    .p{
        display: none;
    }
}
